collie($num = "", $type = $collie-data.type, $gutter = $collie-data.gutter, $ib-font-size = $collie-data.ib-font-size, $col-wrapper-name = $collie-data.col-wrapper-name, $row-wrapper-name = $collie-data.row-wrapper-name ) {
	if ($num == "reset") {
		margin-top: 0;

		> .{$col-wrapper-name} {
			display: block;
			float: none;
			margin-top: $gutter;
			width: auto;

			&:first-child {
				margin-top: 0;
			}
		}
	} else {
		if ($num == "") {
			$num = 2;
		}

		$tl = {
			"i": "inline-block",
			"f": "float",
			"t": "table"
		};

		margin-left: $gutter * -1;

		if ($type == $tl.i) {
			font-size: 0;
			margin-top: $gutter * -1;
		}

		if ($type == $tl.f) {
			&:after {
				clear: both;
				content: "";
				display: table;
			}
		}

		if ($type == $tl.t) {
			> .{$row-wrapper-name} {
				display: table;
				width: 100%;

				> .{$col-wrapper-name} {
					box-sizing: border-box;
					display: table-cell;
					padding-left: $gutter;
					width: percentage(1/$num);
				}
			}
		} else {
			> .{$col-wrapper-name} {
				margin-left: $gutter;
				width: collie-width(percentage(1/$num), $gutter);

				if ($type == $tl.i) {
					display: inline-block;
					font-size: $ib-font-size;
					margin-top: $gutter;
					vertical-align: top;
				}

				if ($type == $tl.f) {
					float: left;
				}
			}
		}
	}
}

collie-width($val, $gutter = $collie-data.gutter) {
	"calc(%s - %s)" % ($val $gutter);
}

collie-set($name, $val, $default = false) {
	if ($default) {
		$collie-def-data[$name] = $val;
	}

	$collie-data[$name] = $val;
}

collie-get($name, $default = false) {
	if ($default) {
		return $collie-def-data[$name];
	} else {
		return $collie-data[$name];
	}
}

collie-reset($name = "") {
	if ($name == "") {
		for $label in $collie-data {
			collie-reset($label, collie-get($label), true);
		}
	} else {
		$collie-data[$name] = $collie-def-data[$name];
	}
}

$collie-data = {
	col-wrapper-name: "col",
	row-wrapper-name: "row-w",
	ib-font-size: 16px,
	type: "float",
	gutter: 10px
};
$collie-def-data = {};
for $label in $collie-data {
	collie-set($label, collie-get($label), true);
}
